<!DOCTYPE html>
<html>
<head>
    <title>Unit Converter</title>
</head>
<body>

<h1>Unit Converter</h1>

<form method="POST">

    <label>Value:</label>
    <input type="number" name="value" required>

    <br><br>

    <label>From:</label>
    <select name="from_unit">
        <option value="meter">Meter</option>
        <option value="kilometer">Kilometer</option>
        <option value="centimeter">Centimeter</option>
        <option value="millimeter">Millimeter</option>
        <option value="inch">Inch</option>500
    </select>

    <br><br>

    <label>To:</label>
    <select name="to_unit">
        <option value="meter">Meter</option>
        <option value="kilometer">Kilometer</option>
        <option value="centimeter">Centimeter</option>
        <option value="millimeter">Millimeter</option>
        <option value="inch">Inch</option>
    </select>

    <br><br>

    <button type="submit">Convert</button>

</form>

{% if test %}
    <h2> Answer: {{ test }}</h2>
{% endif %}

</body>
</html>